{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% from 'includes/_form_helpers.html' import render_field %}

    <div class="jumbotron">
        <div class="container">
            <h1>Reach out. Get in touch!</h1>
            <p>Let's work together to take your business to the next level.</p>
        </div>
    </div>

    <div class="container marketing">

        <h2 class="services-heading">Contact Us</h2>

        <div class="shadow-sm card mb-4">
            <div class="card-body">
                <form id="contact-form" method="post" action="{{ url_for('contact') }}" role="form">
                    {# {{ form.hidden_tag() }} #}
                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.first_name, id="form_name", type="text", class_="form-control", placeholder="Please enter your First Name", required="required") }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.last_name, id="form_lastname", type="text", class_="form-control", placeholder="Please enter your Last Name", required="required") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ render_field(form.email, id="form_email", type="email", class_="form-control", placeholder="Please enter your email", required="required") }}
                            </div>
                            <div class="col-md-6">
                                {{ render_field(form.subject, id="form_subject", type="text", class_="form-control", placeholder="Please specify your need.", required="required") }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ render_field(form.message, id="form_message", type="text", class_="form-control", placeholder="Leave us a message!", required="required", rows="4") }}
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-lg btn-primary btn-send" value="Send message">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">
                                    <strong>*</strong> These fields are required.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
