{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top: 125px;"><span style="font-size:1.5em">Thank you, we'll get back to you shortly!</span></div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top: 15px;">
                <a class="btn btn-lg btn-primary" href="{{ url_for('index') }}" role="button">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}
