{% extends "base.html" %}

{#
to create a hero-style image on landing page
https://www.w3schools.com/howto/howto_css_hero_image.asp
#}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Data Science</h1>
      <p>Sentence about how databases, analytics, machine learning and AI will revolutionize your company.</p>
      <p><a class="btn btn-lg btn-primary" href="{{ url_for('contact') }}" role="button">Contact Us</a></p>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

      <div class="row">
          <div class="col-sm-12">
              <h2 class="services-heading">Services</h2>
          </div>
      </div>

    <!-- Three columns of text below the carousel -->


        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->

      <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div><!-- /.col-sm-4 -->
        </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-sm-12">
            <h2 class="services-heading" style="margin-bottom: 2rem;">Services</h2>
        </div>
    </div>

    <div class="svg-container-outside">
        <div class="svg-container-inside">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 68">
                <defs>
                    <path d="M20 30.57L620 30.57L620 37.43L20 37.43L20 30.57Z" id="b26kExaCXW"></path>

                    <path d="M411.71 34C411.71 41.73 405.44 48 397.71 48C389.98 48 383.71 41.73 383.71 34C383.71 26.27 389.98 20 397.71 20C405.44 20 411.71 26.27 411.71 34Z" id="aiBtYRsvD"></path>
                    <path d="M408.21 34C408.21 39.8 403.5 44.5 397.71 44.5C391.91 44.5 387.21 39.8 387.21 34C387.21 28.2 391.91 23.5 397.71 23.5C403.5 23.5 408.21 28.2 408.21 34Z" id="a1wxUsb9i6"></path>
                    <path d="M405.58 34C405.58 38.35 402.06 41.88 397.71 41.88C393.36 41.88 389.83 38.35 389.83 34C389.83 29.65 393.36 26.13 397.71 26.13C402.06 26.13 405.58 29.65 405.58 34Z" id="dqxbwjHoK"></path>

                    <path d="M571.71 34C571.71 41.73 565.43 48 557.71 48C549.98 48 543.71 41.73 543.71 34C543.71 26.27 549.98 20 557.71 20C565.43 20 571.71 26.27 571.71 34Z" id="f3FnHDcIuD"></path>
                    <path d="M568.21 34C568.21 39.8 563.5 44.5 557.71 44.5C551.91 44.5 547.21 39.8 547.21 34C547.21 28.2 551.91 23.5 557.71 23.5C563.5 23.5 568.21 28.2 568.21 34Z" id="a1U3OpRbLy"></path>
                    <path d="M565.58 34C565.58 38.35 562.05 41.88 557.71 41.88C553.36 41.88 549.83 38.35 549.83 34C549.83 29.65 553.36 26.13 557.71 26.13C562.05 26.13 565.58 29.65 565.58 34Z" id="ajQPjtiZt"></path>

                    <path d="M97.43 34C97.43 41.73 91.15 48 83.43 48C75.7 48 69.43 41.73 69.43 34C69.43 26.27 75.7 20 83.43 20C91.15 20 97.43 26.27 97.43 34Z" id="ayVz5Uf0Q"></path>
                    <path d="M93.93 34C93.93 39.8 89.22 44.5 83.43 44.5C77.63 44.5 72.93 39.8 72.93 34C72.93 28.2 77.63 23.5 83.43 23.5C89.22 23.5 93.93 28.2 93.93 34Z" id="a1uklGAnKq"></path>
                    <path d="M91.3 34C91.3 38.35 87.77 41.88 83.43 41.88C79.08 41.88 75.55 38.35 75.55 34C75.55 29.65 79.08 26.13 83.43 26.13C87.77 26.13 91.3 29.65 91.3 34Z" id="dhQfqst9Q"></path>

                    <path d="M253.85 34C253.85 41.73 247.58 48 239.85 48C232.13 48 225.85 41.73 225.85 34C225.85 26.27 232.13 20 239.85 20C247.58 20 253.85 26.27 253.85 34Z" id="c2CXDm4KLt"></path>
                    <path d="M250.35 34C250.35 39.8 245.65 44.5 239.85 44.5C234.06 44.5 229.35 39.8 229.35 34C229.35 28.2 234.06 23.5 239.85 23.5C245.65 23.5 250.35 28.2 250.35 34Z" id="b37F34yisP"></path>
                    <path d="M247.73 34C247.73 38.35 244.2 41.88 239.85 41.88C235.51 41.88 231.98 38.35 231.98 34C231.98 29.65 235.51 26.13 239.85 26.13C244.2 26.13 247.73 29.65 247.73 34Z" id="c6iD2HGkF"></path>

                    <path d="M0 0L157.14 0L157.14 70L0 70L0 0Z" id="fokmB6IxG"></path>

                    <path d="M157.14 -1L314.28 -1L314.28 69L157.14 69L157.14 -1Z" id="f35x8J2Mlu"></path>

                    <path d="M314.28 0L471.42 0L471.42 70L314.28 70L314.28 0Z" id="aqfZmGH2T"></path>

                    <path d="M471.42 -1L640 -1L640 69L471.42 69L471.42 -1Z" id="fvjXhXtiv"></path>
                </defs>
                <g>
                    <g>
                        <g><use xlink:href="#b26kExaCXW" opacity="1" fill="#bfc9df" fill-opacity="1"></use></g>

                        <g>
                            <g><use class="circle circle-1" xlink:href="#ayVz5Uf0Q" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                            <g><use xlink:href="#a1uklGAnKq" opacity="1" fill="#ffffff" fill-opacity="1"></use></g>
                            <g><use class="circle circle-1" xlink:href="#dhQfqst9Q" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                        </g>
                        <g>
                            <g><use class="circle circle-2" xlink:href="#c2CXDm4KLt" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                            <g><use xlink:href="#b37F34yisP" opacity="1" fill="#ffffff" fill-opacity="1"></use></g>
                            <g><use class="circle circle-2" xlink:href="#c6iD2HGkF" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                        </g>
                        <g>
                            <g><use class="circle circle-3" xlink:href="#aiBtYRsvD" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                            <g><use xlink:href="#a1wxUsb9i6" opacity="1" fill="#ffffff" fill-opacity="1"></use></g>
                            <g><use class="circle circle-3" xlink:href="#dqxbwjHoK" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                        </g>
                        <g>
                            <g><use class="circle circle-4" xlink:href="#f3FnHDcIuD" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                            <g><use xlink:href="#a1U3OpRbLy" opacity="1" fill="#ffffff" fill-opacity="1"></use></g>
                            <g><use class="circle circle-4" xlink:href="#ajQPjtiZt" opacity="1" fill="#7084ad" fill-opacity="1"></use></g>
                        </g>

                        <g class="circle-btn" id="circle-1" onclick="color_circle(this.id)" onclick="color_circle(this.id)"><use xlink:href="#fokmB6IxG" opacity="0" fill="#d9e0ef" fill-opacity="1"></use></g>
                        <g class="circle-btn" id="circle-2" onclick="color_circle(this.id)"><use xlink:href="#f35x8J2Mlu" opacity="0" fill="#d9e0ef" fill-opacity="1"></use></g>
                        <g class="circle-btn" id="circle-3" onclick="color_circle(this.id)"><use xlink:href="#aqfZmGH2T" opacity="0" fill="#d9e0ef" fill-opacity="1"></use></g>
                        <g class="circle-btn" id="circle-4" onclick="color_circle(this.id)"><use xlink:href="#fvjXhXtiv" opacity="0" fill="#d9e0ef" fill-opacity="1"></use></g>
                    </g>
                </g>
            </svg>
        </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Data Science, fam. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 featurette-img">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='images/featurette1.jpg') }}" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Insights, bro. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1 featurette-img">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='images/featurette2.jpg') }}" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Analytics, man. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 featurette-img">
        <img class="featurette-image img-fluid mx-auto" src="{{ url_for('static', filename='images/featurette3.jpg') }}" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // var circleButtons = document.getElementsByClassName("circle-btn");
    var circles = document.getElementsByClassName("circle");

    $(".circle-btn").click(function() {
        $('html,body').animate({
            scrollTop: $(".svg-container-outside").offset().top},
            'slow');
    });

    function color_circle(clicked_id) {
        clicked_circles = document.getElementsByClassName(clicked_id)
        // .setAttribute("fill", "red")
        // console.log(circles)

        var i;
        for (i = 0; i < circles.length; i++) {
            circles[i].setAttribute("fill", "#7084ad");
        };

        for (i = 0; i < clicked_circles.length; i++) {
            clicked_circles[i].setAttribute("fill", "#ff6fa5");
        };
    };
</script>
{% endblock %}
